<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Distributed machine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!(accountService.currentUser$ | async) as IUser" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!(accountService.currentUser$ | async) as IUser" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as IUser">
                    <a class="nav-link" routerLink="/process" routerLinkActive="active">Process</a>
                </li>

                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as IUser">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">{{IUser.displayName}}</a>
                </li>
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as IUser">
                    <a style="cursor: pointer;" class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>