
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>
<div class="container">
    <app-nav-component></app-nav-component>
    <router-outlet></router-outlet>

    <!-- <div class="row">
        <div class="col-sm-8">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Adresa de email</mat-label>
                  <input [(ngModel)]="email" matInput name="something">
                </mat-form-field>
            </form>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Parola</mat-label>
                  <input [(ngModel)]="parola" matInput name="something">
                </mat-form-field>
            </form>

            <button mat-raised-button (click)="login()" >Login</button>
            <br>
            <br>
            <p class="roboto-bold">{{rezultat}}</p>            
        </div>
        <div class="col-sm-4">
            <div *ngIf="(accountService.currentUser$ | async) as IUser">
                <p>Bine ai venit, {{IUser.displayName}}!</p>
            </div>

        </div>
    </div> -->

    <!-- <div class="row">
        <div class="container">
            <button mat-raised-button (click)="process()" >Process</button>
        </div>
    </div> -->
</div>


    
